In [169]:
import numpy as np

def generate(p1):
    # change this so that it generates 10000 random zeros and ones
    # where the probability of one is p1
    seq = np.random.choice([0,1], p=[1-p1, p1], size=10000)
    return seq

def count(seq):
    # insert code to return the number of occurrences of 11111 in the sequence
    res = 0
    occu = 5
    for i in range(len(seq)):
        if repr(seq[i: i + occu]) == repr(np.ones(occu, dtype=int)):
            res += 1
    return res

def main(p1):
    seq = generate(p1)
    return count(seq)

print(main(2/3))

1379

In [170]:
p1 = 0.5
np.random.choice([0,1], p=[1-p1, p1], size=10000)

array([0, 0, 1, ..., 0, 0, 0])

In [171]:
10000*(2/3)**5

1316.8724279835387

In [181]:
def count2(seq):
    # insert code to return the number of occurrences of 11111 in the sequence
    res = 0
    occu = 5
    for i in range(len(seq)):
        if repr(seq[i: i + occu]) == repr(np.ones(occu, dtype=int)):
            res += 1
        if i % 100 == 0:
            print(i, res)
    return res

In [182]:
seq2 = generate(2/3)
count2(seq2)

0 0
100 11
200 18
300 30
400 51
500 57
600 70
700 83
800 107
900 128
1000 139
1100 147
1200 162
1300 175
1400 186
1500 210
1600 217
1700 221
1800 231
1900 237
2000 258
2100 274
2200 290
2300 298
2400 312
2500 323
2600 331
2700 342
2800 349
2900 363
3000 373
3100 387
3200 393
3300 399
3400 409
3500 429
3600 437
3700 442
3800 454
3900 465
4000 477
4100 480
4200 485
4300 496
4400 509
4500 523
4600 527
4700 545
4800 572
4900 580
5000 586
5100 598
5200 610
5300 626
5400 643
5500 667
5600 672
5700 687
5800 697
5900 719
6000 724
6100 737
6200 748
6300 764
6400 783
6500 795
6600 818
6700 821
6800 839
6900 850
7000 856
7100 873
7200 882
7300 891
7400 904
7500 914
7600 928
7700 935
7800 952
7900 966
8000 975
8100 984
8200 995
8300 1006
8400 1009
8500 1021
8600 1026
8700 1032
8800 1037
8900 1061
9000 1069
9100 1082
9200 1097
9300 1104
9400 1125
9500 1133
9600 1136
9700 1156
9800 1165
9900 1196

1202

In [164]:
# for i in range(100):
#     print(i % a10)